@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('fonts/DINPro-Light.ttf');
@import url('fonts/DINPro-Medium.ttf');
@import url('fonts/DINPro-Bold.ttf');
@import url('fonts/DINPro-Black.ttf');
:root{
    --light-blue: #1ABBEC;
    --dark-blue: #003558;
    --text-light-blue: #57C8EF;
}
body {
    width: 390px;
}
*{
    font-family: 'DINPro-Light', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-weight: normal;
    /* transition: .2s linear; */
    /* letter-spacing: -1px; */
    line-height: 1.2;
    -webkit-appearance: none;
border-radius: 0;
}
p {
    margin-bottom: 0;
}
:before,:after{
	box-sizing: border-box;
}

.top-header-img {
    background-image: url('img/top-header.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 275px;
}
.logo img {
    width: 135px;
    position: absolute;
    top: 13px;
    right: 13px;
}
section {
    padding: 0 25px;
}
.top-details {
    margin-top: -100px;
}
h1.main-title {
    color: #40C6C1;
    font-size: 56px;
    line-height: 0.9;
}
h1.main-title span {
    font-family: 'DINPro-Light', sans-serif;
    color: #FDB02D;
}
h1.main-title span b{
    font-family: 'DINPro-Bold', sans-serif;
}
.date {
    font-size: 30px;
    color: #013C7B;
    padding-top: 15px;
    margin-bottom: 0;
}
.time {
    font-family: 'DINPro-Bold', sans-serif;
    font-size: 30px;
    color: #013C7B;
    margin-bottom: 0;
}
.location {
    font-size: 26px;
    color: #58C7EF;
    margin-bottom: 30px;
}
.nav-item {
    flex: 0 50%;
    position: relative;
}
.programme .nav-link, .programme .show>.nav-link {
    color: #fff;
    font-size: 24px;
    line-height: 1;
    opacity: 0.5;
    font-family: 'DINPro-Bold', sans-serif;
    background-color: #FDB02D;
    font-weight: bold;
    border-radius: 0;
    display: block;
    height: 150px;
    margin-right: 5px;
    padding: 12px 15px;
    
}
.programme .nav-link:after {
    content: "";
    background-image: url("/img/arrow-right-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.programme .nav-link.active:after {
    content: "";
    background-image: url("/img/arrow-down-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.programme .nav-link.active, .programme .show>.nav-link {
    background-color: #FDB02D;
    opacity: 1;
    font-weight: bold;
    border-radius: 0;
    display: block;
}
.host .nav-link, .host .show>.nav-link {
    color: #fff;
    font-size: 24px;
    font-family: 'DINPro-Bold', sans-serif;
    line-height: 1;
    background-color: #40C6C1;
    opacity: 0.5;
    font-weight: bold;
    border-radius: 0;
    display: block;
    height: 150px;
    margin-left: 5px;
    padding: 12px 15px;
}
.host .nav-link.active, .programme .show>.nav-link {
    background-color: #40C6C1;
    opacity: 1;
    font-weight: bold;
    border-radius: 0;
    display: block;
}
.host .nav-link:after {
    content: "";
    background-image: url("/img/arrow-right-blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.host .nav-link.active:after {
    content: "";
    background-image: url("/img/arrow-down-blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
/* Programme morning */
.prog-morning .nav-link, .prog-morning .show>.nav-link {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    opacity: 0.5;
    /* font-family: 'DINPro-Bold', sans-serif; */
    background-color: #FDB02D;
    font-weight: bold;
    border-radius: 0;
    display: block;
    height: 150px;
    margin-right: 5px;
    padding: 12px 15px;
    
}
.prog-morning .nav-link:after {
    content: "";
    background-image: url("/img/arrow-right-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.prog-morning .nav-link.active:after {
    content: "";
    background-image: url("/img/arrow-down-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.prog-morning .nav-link.active, .prog-morning .show>.nav-link {
    background-color: #FDB02D;
    font-weight: bold;
    opacity: 1;
    border-radius: 0;
    display: block;
}
/* Programme afternoon */
.prog-afternoon .nav-link, .prog-afternoon .show>.nav-link {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    opacity: 0.5;
    /* font-family: 'DINPro-Bold', sans-serif; */
    background-color: #FDB02D;
    font-weight: bold;
    border-radius: 0;
    display: block;
    height: 150px;
    margin-left: 5px;
    padding: 12px 15px;
    
}
.prog-afternoon .nav-link:after {
    content: "";
    background-image: url("/img/arrow-right-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.prog-afternoon .nav-link.active:after {
    content: "";
    background-image: url("/img/arrow-down-yellow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 1rem;
}
.prog-afternoon .nav-link.active, .prog-afternoon .show>.nav-link {
    background-color: #FDB02D;
    font-weight: bold;
    opacity: 1;
    border-radius: 0;
    display: block;
}

h3.p-title {
    font-family: 'DINPro-Bold', sans-serif;
    font-size: 36px;
    color: #FDB02D;
}
hr.orange {
    height: 0px;
    border: none;
    border-top: 2px solid #FDB02D;
}
hr.orange2 {
    height: 0px;
    border: none;
    border-top: 1px solid #FDB02D;
}

h3.h-title {
    font-family: 'DINPro-Bold', sans-serif;
    font-size: 36px;
    color: #40C6C1;
    line-height: 1;

}
hr.blue {
    height: 0px;
    border: none;
    border-top: 2px solid #40C6C1;
}

.progTime {
    color: #FDB02D;
    font-family: 'DINPro-Bold', sans-serif;
    font-size: 23px;
    padding-top: 10px;
}
.progDescription {
    color: #003558;
    font-size: 18px;
}
.circleImg {
    width: 100px;
}
.fontBold {
    font-family: 'DINPro-Bold', sans-serif;
}

.blueDescription {
    color: #58C7EF;
    font-size: 18px;
}
.networking-lunch {
    margin:1em -100%; /* old browsers fallback */
    margin:1em calc(50% - 50vw);
    background-color:#FDB02D;
    padding: 25px 25px;
}
.timeWhite {
    color: #fff;
    font-family: 'DINPro-Bold', sans-serif!important;
    font-size: 23px!important;
}
.descriptionWhite {
    color: #fff;
    font-size: 18px;
}
.bio .left {
    margin-right: 15px;
}
.bio a {
    text-decoration: none;
}
.bio .name {
    color: #40C6C1;
    font-family: 'DINPro-Bold', sans-serif;
    font-size: 23px;
    padding-top: 10px;
}

.bio .right {
    position: relative;
}
.bio .arrow {
    height: 40px;
}
.bio a.collapsed .right .arrow:after {
    content: "";
    background-image: url("/img/arrow-right-green.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.bio .right .arrow:after {
    content: "";
    background-image: url("/img/arrow-down-green.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.bio .title {
    font-family: 'DINPro-Bold', sans-serif;
    color: #003558;
    font-size: 18px;
}

.short-bio {
    color: #003558;
    padding-top: 20px;
}
.topic {
    font-family: 'DINPro-Bold', sans-serif;
    color: #40C6C1;
}
.topicTitle {
    color: #58C7EF;
    font-size: 18px;
    padding-bottom: 23px;
}
.social {
    padding-top: 35px;
    padding-bottom: 10px;
}
.social a{
    text-decoration: none;
}
.social a p {
    font-family: 'DINPro-Bold', sans-serif;
    color: #40C6C1;
    font-size: 18px;
}
.social img {
    margin-right: 7px;
}

section.sponsor {
    background-color: #F7F7F7;
    padding-top: 30px;
    padding-bottom: 30px;
}
section.feedback {
    padding-top: 30px;
    padding-bottom: 30px;
}

.feedback .right .arrow {
    padding-top: 20px;
}